@import url('https://fonts.googleapis.com/css?family=Handlee');
*{
  font-family: 'Handlee', cursive;
  box-sizing: border-box;
}

body{
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background: #EEEFF7;
 }
 /* NOTE: estilo nav */
nav{
  background: #1C1D21;
  padding-left: 10px;
  padding-right: 10px;

}
 img.logo1{
  max-width: 70px;
}
 main{
   flex: 1 0 auto;
 }
.backcarousel1{
  background-image: url("../img/slider1.jpg");

}
.backcarousel2{
  background-image: url("../img/slider2.jpg");

}
.degradado{
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  padding: 2%;
  color: black;
}
.degradado h2{
  font-size: 3em !important;
  font-weight:bolder !important;
  text-shadow: 1px 1px 5px #000;
}

.degradado p{
  font-size: 2.5em !important;
  color: black;
  text-shadow: 1px 1px 5px #000;
}
/* NOTE:  fin parallax comienzo slogan y marcas */
 .marcas {
   padding:2%  !important;
 }
 .marcas h1{
   text-shadow: 1px 1px 5px black;
 }
 .marcas p{
   font-size: 2em;
 }
 .marcas img{

 }







 .parallax img{
   opacity: 0.5;
   filter: alpha(opacity=50);
 }

 .titleparallax{
   text-align: center;
   font-size: 1.3em;
   padding-top: 10%;
   text-shadow: 1px 1px 5px black;

 }
 .card{
   background: rgba(49, 53, 51, 0.9);
 }
 .card-content{
   background: #445878;

 }
 .card-title{
    color:white !important;
 }
 img.scal{
 transition: all 1s;
 }
 img.scal:hover{
   transform: scale(1.3);
 }
 .active{
   background: rgba(255,255,255,0.5)!important;
 }
/* NOTE: estilos de pagina hombre y mujer */
.hombresimg{
  background-image: url("../img/hombres.jpg");
  background-size: 100% 100% ;
background-repeat: no-repeat;
  text-align: center;
}
.mujeresimg{
  background-image: url("../img/slidermujer.jpg");
  background-size: 100% 100% ;
background-repeat: no-repeat;
  text-align: center;
}
.hombresdeg{
    padding: 5%;
}
.beastprod{
  background-color: rgba(0, 0, 0, 0.3);
}
.imgbest{
  width: 300px !important;
  height:auto !important;
  top:-5% !important;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px black;
}
.conproduc img{
  max-width: 100%;
}
.imgproducto{
  max-width: 100%;
}
.bestproducts h1{
   text-align: center;
}
.beastprod a{
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}
footer{
   background: rgba(28, 29, 33, 0.8) !important;
 }
.social img{
max-width: 100%;
}
